spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/marchepublic
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none   # Do not auto-generate schema; use Liquibase for migrations
    show-sql: true      # Set to true if you want to see SQL statements in the console
    properties:
      hibernate:
        format_sql: true # Nicely formats SQL output in the console
        jdbc.batch_size: 30
        order_inserts: true
        order_updates: true

  liquibase:
    enabled: true
    change-log: classpath:db.master.yaml  # Points to the master changelog file
    drop-first: false

  mail:
    username: bilal.chbanat2003@gmail.com
    password: aeebbfhlpekagpqr

server:
  port: 8080  # Define the port your application will run on

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG  # Show SQL in logs if needed
    org.hibernate.type: TRACE # Show SQL parameter values in logs

security:
  jwt:
    secret-key: 134256378948371526789301823781252891527531226784172461624626416451271264671526456125416246241247165246124615624516541171245164615124124
    expiration-time: 87468712649